<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> SmartAdmin (ReactJS)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="<%= static_path(@conn, "/styles/css/bootstrap.min.css") %>">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="<%= static_path(@conn, "/styles/css/smartadmin-production-plugins.min.css") %>">
    <link rel="stylesheet" type="text/css" media="screen" href="<%= static_path(@conn, "/styles/css/smartadmin-production.min.css") %>">
    <link rel="stylesheet" type="text/css" media="screen" href="<%= static_path(@conn, "/styles/css/smartadmin-skins.min.css") %>">

    <!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
    <link rel="stylesheet" type="text/css" media="screen" href="<%= static_path(@conn, "/styles/css/smartadmin-rtl.min.css") %>">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
    specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="<%= static_path(@conn, "/styles/css/demo.min.css") %>">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="<%= static_path(@conn, "/styles/img/favicon/favicon.ico") %>" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <!-- 	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> -->

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
    Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="<%= static_path(@conn, "/styles/img/splash/sptouch-icon-iphone.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= static_path(@conn, "/styles/img/splash/touch-icon-ipad.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= static_path(@conn, "/styles/img/splash/touch-icon-iphone-retina.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= static_path(@conn, "/styles/img/splash/touch-icon-ipad-retina.png") %>">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="<%= static_path(@conn, "/styles/img/splash/ipad-landscape.png") %>" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="<%= static_path(@conn, "/styles/img/splash/ipad-portrait.png") %>" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="<%= static_path(@conn, "/styles/img/splash/iphone.png") %>" media="screen and (max-device-width: 320px)">
</head>
<body>

<div id="smartadmin-root">
  <%= render @view_module, @view_template, assigns %>
</div>
<script src="<%= static_path(@conn, "/build/vendor.bundle.js") %>"></script>
<script src="/build/bundle.js"></script>
<!-- <script src="<%= static_path(@conn, "/build/vendor.ui.js") %>"></script>
<script src="<%= static_path(@conn, "/build/vendor.datatables.js") %>"></script>
<script src="<%= static_path(@conn, "/build/vendor.graphs.js") %>"></script>
<script src="<%= static_path(@conn, "/build/app.js") %>"></script>
<script src="<%= static_path(@conn, "/build/chunk.1.js") %>"></script> -->

<!-- <script src="<%= static_path(@conn, "/build/vendor.bundle.js") %>"></script>
<script src="<%= static_path(@conn, "/build/bundle.js") %>"></script>
<script src="<%= static_path(@conn, "/build/vendor.ui.js") %>"></script>
<script src="<%= static_path(@conn, "/build/vendor.datatables.js") %>"></script>
<script src="<%= static_path(@conn, "/build/vendor.graphs.js") %>"></script>
<script src="<%= static_path(@conn, "/build/app.js") %>"></script>
<script src="<%= static_path(@conn, "/build/chunk.1.js") %>"></script> -->

</body>
</html>
